@import "./variables.scss";

.component {
  margin-top: 1em;
  width: 400px;
  padding: 1em;
  position: relative;
  &.selected {
    box-shadow: 0 0 6px 1px #ffffff2b;
  }
  .name {
    font-size: 22px;
    font-weight: bold;
    color: $text-base;
    display: flex;
    align-items: center;
    position: relative;
    input {
      flex: 1;
      border: 0;
      font: inherit;
      background: $background;
      color: $primary;
      position: absolute;
      left: 0.75em;
      outline: none;
    }

    .name-hidden {
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
      display: inline-block;
      padding-right: 0.25em;
    }
    &:before,
    &:after {
      color: $text-medium;
      display: block;
      font-size: 40px;
      font-weight: normal;
      transform: scaleX(0.5) scaleY(0.6);
      font-family: Georgia;
    }
    &:before {
      content: "\276E";
    }
    &:after {
      content: "\0338\276F";
    }
  }
  .dropdown-container {
    margin-left: 10px;
  }
}
