$background: #002b36;
$background-secondary: #073642;
$text-base: #fdf6e3;
$text-secondary: #d2d0ca;
$text-medium: #a0a0a0;
$background-accent: #586e75;
$primary: #268bd2;
$secondary: #2aa198;
$red: #d30102;
